
  .shadowbox2 {
    margin: 0 auto;
    float: center;
    width: 50em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 16px 24px;
    background-image: linear-gradient(180deg, #fff, #82c7ff 40%, #0084ff);
  }

  .ts{
    font-size: 2em;
  }

  .rf{
    text-align: left;
  }

  footer a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer a:hover {
    color: #007bff;
  }
  